{% extends 'blog/base.html' %}

{% block content %}
        <div class="post">
            <h2><a href="">足立区</a></h2>
            <h2><a href="">荒川区</a></h2>
            <h2><a href="">板橋区</a></h2>
            <h2><a href="">江戸川区</a></h2>
            <h2><a href="">大田区</a></h2>
            <h2><a href="">葛飾区</a></h2>
            <h2><a href="">北区</a></h2>
            <h2><a href="">江東区</a></h2>
            <h2><a href="">品川区</a></h2>
            <h2><a href="">渋谷区</a></h2>
            <h2><a href="">新宿区</a></h2>
            <h2><a href="">杉並区</a></h2>
            <h2><a href="">墨田区</a></h2>
            <h2><a href="">世田谷区</a></h2>
            <h2><a href="">台東区</a></h2>
            <h2><a href="">千代田区</a></h2>
            <h2><a href="">中央区</a></h2>
            <h2><a href="">豊島区</a></h2>
            <h2><a href="">中野区</a></h2>
            <h2><a href="">練馬区</a></h2>
            <h2><a href="tokyo/bunkyo/">文京区</a></h2>
            <h2><a href="">港区</a></h2>
            <h2><a href="">目黒区</a></h2>
        </div>
{% endblock %}